{% extends 'logger/master_layout.html' %}

{%  block pagetitle  %} Datum {% endblock %}

{% block body %}
<div id="wrapper">
    <header>
    </header>
    <nav>
    </nav>
    <section id="content">
        <div class="col-md-10 col-md-offset-1">
            <h3>{{ datum.name }}</h3>
            <ul>
                {% for day, entries, sum in days %}
                    <li>{{ day }} (add lunch:
                        <a href="{% url 'add_lunch' datum.slug day 30 %}">30</a>
                        <a href="{% url 'add_lunch' datum.slug day 45 %}">45</a>
                        <a href="{% url 'add_lunch' datum.slug day 60 %}">60</a>)
                        <ul>
                            {% for entry in entries %}
                                <li>
                                    {{ entry }}
                                    {% if entry.diff %}
                                    (<i>{{ entry.diff }}</i>)
                                    {% endif %}
                                </li>
                            {% endfor %}
                            <li><ul><li><b>{{ sum }}</b></li></ul></li>
                        </ul>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </section>
    <aside>
    </aside>
    <footer>
    </footer>
</div>
{% endblock %}