{% extends 'logger/master_layout.html' %}

{%  block pagetitle  %} Datum {% endblock %}

{% block body %}
<style>
    td.hour_header {
        text-align: left;
    }

    td.day_cell {
        border-left: 0.5pt solid #CCC;
    }
</style>
<div id="wrapper">
    <header>
    </header>
    <nav>
    </nav>
    <section id="content">
        <div class="col-md-10 col-md-offset-1">
            <h3>{{ datum.name }}</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Day</th>
                    <th colspan="24">Hours</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                    {% for hour in hours %}
                        <td class="hour_header">{{ hour|stringformat:"02d" }}</td>
                    {% endfor %}
                </tr>
                {% for day_table_row in day_table_rows %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% autoescape off %}
                        {% for cell in day_table_row %}
                            {{ cell.render }}
                        {% endfor %}
                        {% endautoescape %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                {% for day, entries, sum in days %}
                    <li>{{ day }} (add lunch:
                        <a href="{% url 'add_lunch' datum.slug day 30 %}">30</a>
                        <a href="{% url 'add_lunch' datum.slug day 45 %}">45</a>
                        <a href="{% url 'add_lunch' datum.slug day 60 %}">60</a>)
                        <ul>
                            {% for entry in entries %}
                                <li>
                                    {{ entry }}
                                    {% if entry.diff %}
                                    (<i>{{ entry.diff }}</i>)
                                    {% endif %}
                                </li>
                            {% endfor %}
                            <li><ul><li><b>{{ sum }}</b></li></ul></li>
                        </ul>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </section>
    <aside>
    </aside>
    <footer>
    </footer>
</div>
{% endblock %}